{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <h3>รายละเอียดการไถ่คืน</h3>
    </center>
    <form method="POST">
        {% csrf_token %}
        {{ redeemed_form.as_p }}
        <hr>
        <center>
            <button class="btn btn-info btn-block w-50 mt-4" type="submit">ยืนยัน</button>
        </center>
    </form>
</div>
<script>
    error_ul = document.getElementsByClassName("errorlist");
    for (let i = 0; i < error_ul.length; i++){
        $(error_ul[i]).insertAfter(error_ul[i].nextElementSibling);
    }
    var msg = '{{ msg }}';
    var pled_id = '{{ pledging.id }}';
    if (msg == 'pass') {
        Swal.fire({
            icon: 'success',
            title: 'ไถ่คืนสำเร็จ',
            showConfirmButton: false,
            timer: 1500,
        }).then((result) => {
            var url = "{%url 'view_pledging' pled_id=0 %}".replace('0', pled_id);
            document.location.href = url;
        })
    }
    if (msg == 'not_pass') {
        Swal.fire({
            icon: 'error',
            title: 'ข้อมูลผิดพลาด',
            text: 'กรุณากรอกข้อมูลให้ถูกต้อง',
        })
    }
    </script>
{% endblock %}
