{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="container">
        <center>
            <h3>รายการชำระ</h3>
            {% if not user.is_staff %}
                <a class="btn btn-warning btn-block w-25 my-4" href="{% url 'select_pledging' %}">แจ้งรายการชำระ</a>
            {% endif %}
        </center>
        <table class="table mt-4" style="text-align: center; background-color:white;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 10%;">ID</th>
                    {% if user.is_staff %}
                        {% comment %} แสดงชื่อ-นามสกุลเพิ่ม {% endcomment %}
                        <th scope="col">Name</th>
                    {% endif %}
                    <th scope="col">Paid Date</th>
                    <th scope="col" style="width: 15%">Total Balance</th>
                    <th scope="col" style="width: 15%">Status</th>
                    <th scope="col" style="width: 10%">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for p in payment %}
                    <tr>
                        <td>{{ p.pk }}</td>
                        {% if user.is_staff %}
                            {% comment %} แสดงชื่อ-นามสกุลเพิ่ม {% endcomment %}
                            <td>{{ p.first_name }} {{ p.last_name }}</td>
                        {% endif %}
                        <td>{{ p.pay_date|date:"d / m / Y" }}</td>
                        <td>{{ p.total_amount|stringformat:".2f" }}</td>
                        <td>
                            <h5><span class="badge
                            {% if p.status == 0 %} badge-warning
                            {% elif p.status == 1 %} badge-success
                            {% elif p.status == 2 %} badge-danger
                            {% endif %} text-center" style="width: 9rem;">{{ p.status }}
                            </span></h5>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'inform_payment' payment_id=p.pk %}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
