{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <div class="col mt-2">
            <input id="find" type="text" name="text" class="shadow form-control ml-2 col-md-6" placeholder="Seacrh" value=''
            onkeyup="find()">
            <a class="shadow btn btn-warning mt-4 col-md-3" href="{% url 'add_customer' %}"><i class="fas fa-plus mr-1"></i>เพิ่มลูกค้า</a>
        </div>
    </center>
    <table class="shadow rounded table mt-5" style="text-align:center; background-color:white;">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 10%;">ID</th>
                <th scope="col" style="width: 30%;">First Name</th>
                <th scope="col" style="width: 30%;">Last Name</th>
                <th scope="col" style="width: 30%;">Handle</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for i in customer%}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td><a href="{% url 'view_customer' cus_id=i.id%}" class="btn btn-primary mr-2"><i
                            class="far fa-eye"></i></a><a href="{% url 'delete_customer' cus_id=i.id%}"
                        class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
    <script>
          function popup() {
            let button = event.currentTarget
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ',
                    cancelButton: 'btn btn-danger mr-5'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'คุณต้องการลบรายการนี้หรือไม่?',
                text: "ถ้าคุณลบรายการนี้ จะไม่สามาถกู้คืนได้",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'ยืนยันการลบ',
                cancelButtonText: 'ไม่ต้องการลบ',
                reverseButtons: true
            }).then((result) => {

                if (result.value) {
                    
                    let id = button.getAttribute('del_id')
                    console.log(button)
                    console.log(id)
                    axios.delete('/delete_customer/' + id)

                        .then(function (response) {
                            // handle success
                            let del = button.parentElement.parentElement
                            del.remove()

                            console.log(response.data);
                        })
                        .catch(function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                            
                            console.log(error);
                        })
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'การลบของคุณสำเร็จ',
                        'success'
                    )

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'คุณได้ทำการยกเลิกการลบ',
                        'error'
                    )
                }
            })
        }
        function createThis(id, first_name, last_name, length_data){
            console.log( document.getElementsByTagName('tbody')[0])
            var table =  document.getElementsByTagName('tbody')[0];
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(-1);
            var cell2 = row.insertCell(-1);
            var cell3 = row.insertCell(-1);
            var cell4 = row.insertCell(-1);
            let a1 = document.createElement('a')
            a1.className = "btn btn-primary mr-2"
            a1.href = "{% url 'view_customer' cus_id=999999 %}".replace(/999999/, id.toString());
            let i1 = document.createElement('i')
            i1.className = "far fa-eye"
            let a2 = document.createElement('button')
            a2.className = "btn btn-danger"
            a2.setAttribute('del_id', id)
            a2.addEventListener("click", popup)
            let i2 = document.createElement('i')
            i2.className = "far fa-trash-alt"
            a1.append(i1)
            a2.append(i2)
            cell1.append(id)
            cell2.append(first_name)
            cell3.append(last_name)
            cell4.append(a1)
            cell4.append(a2)
            if (table.children.length > length_data){
                table.firstChild.remove()}
            
    
        }
        find()
        function find(){
            document.getElementsByTagName('tbody')[0].remove();
            var table = document.getElementsByTagName('table')[0]
            var tbody = document.createElement("TBODY");
            table.append(tbody)

            var find = document.getElementById("find").value;
            axios.get('/customers_api', {params:{find:find}})
    
            .then(function (response) {
                // handle success
                items = response.data
    
                items.forEach((item) => {
                    let id = item.id
                    let first_name = item.first_name
                    let last_name = item.last_name

                    createThis(id, first_name, last_name, response.data.length)
                 }
                )
    
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            })
        }
    
    
    
        </script>
</div>
{% endblock %}