{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <form class="form-inline" method='GET' action=''>
        {% csrf_token %}
        <div class="col-sm-2"></div>
        <input type="text" name="text" class="form-control ml-2 col-md-6" placeholder="Seacrh"
            value=''>
        <button type="submit" class="btn btn-outline-primary ml-2 col-md-2" value="Seacrh">ค้นหา</button>
    </form>
    <table class="table mt-5"style="text-align:center;" >
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Pledge Date</th>
              <th scope="col">Expire Date</th>
              <th scope="col">Pledging Type</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
    {% for i in pledging%}
    {% ifequal i.type_pledging 0 %} <tr style="color:red"> {%else%} {% ifequal i.type_pledging 2 %} <tr style="color:blue">{% endifequal%}{% endifequal%}
    <th scope="row">{{i.id}}</th> 
        <td>{{i.cus_id.first_name}}</td>
        <td>{{i.cus_id.last_name}}</td>
        <td >{{i.pledge_date|date:"d / m / Y"}}</td>
        <td >{{i.expire_date|date:"d / m / Y"}}</td>
        <td >{{i.type_pledging}}</td>
        <td><a href="{% url 'view_pledging' pled_id=i.id%}" class="btn btn-primary mr-2" ><i class="far fa-eye"></i></a><a href="{% url 'delete_pledging' pled_id=i.id%}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
{% endblock %}