{% extends "base.html" %}
{% block content %}
{% load static %}
<center>
<div class="container">
    <center>
        <h3>ข้อมูลรายการจำนำทอง</h3>
    </center>
    <div class="card mt-5 shadow-lg rounded" style="text-align: center; background-color:white;">

        <div class="card-body">
            <div class='mb-3' style='text-align:center;position:relative'>
                <div style='position:absolute;top:0;left:0;'>รหัสจำนำทอง : {{ p.id}}</div>
                <h4>รายละเอียดรายการจำนำ</h4>
            </div>
            <div class="row">
                <div class='col-6'style="text-align: right;">
                    <p>ชื่อ - นามสกุล: </p>
                </div>
               
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.first_name}} {{ p.cus_id.last_name}}</p>
                </div>

                <div class='col-6'style="text-align: right;">
                    <p>รหัสประชาชน : </p>
                </div>
                
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.citizen_id}}</p>
                </div>

                <div class='col-6'style="text-align: right;">
                    <p>อีเมล : </p>
                </div>

                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.email}}</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>ยอดจำนำ : </p>
                </div>
    
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.pledge_balance}} บาท</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>ระยะเวลาสัญญา : </p>
                </div>
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.pledge_date|date:"d / m / Y"}} - {{ p.expire_date|date:"d / m / Y"}}</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>สถานะของสัญญา : </p>
                </div>
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.type_pledging.label}}</p>
                </div>
            </div>
            <hr>
            <div class='mb-3'>
                <h4>ข้อมูลทองที่นำมาจำนำ</h4>
            </div>



            {% for i in gold %}
            <div class="row">
                <div class='col-3' style="text-align: right;">
                    <p>ประเภท : </p>
                </div>
                <div class='col-3' style="text-align: left;">
                    <p>{{i.goldtype}} </p>
                </div>
                <div class='col-3' style="text-align: right;">
                    <p>น้ำหนัก : </p>
                </div>
                <div class='col-2' style="text-align: left;">
                    <p>{{i.weight}} กรัม</p>
                </div>
                {%  if user.is_staff %}
                <div class='col-1' style="text-align: right;">
                <button onclick="popup('{{i.id}}')"class="btn btn-danger"><i class="far fa-trash-alt"></i></button></div>{%endif%}
            </div>
            {% endfor %}
            {%  if user.is_staff %}    
        </div>
            <div style='display:flex'>
            <a style='flex-basis:0;flex-grow:1;flex-shrink:1' href="{% url 'edit_pledging' pled_id=p.id %}" class="btn btn-warning" ><i class="fas fa-edit"></i> แก้ไขรายการจำนำ</a>
            <button style='flex-basis:0;flex-grow:1;flex-shrink:1' onclick="popup('pled')" class="btn btn-danger"><i class="far fa-trash-alt"></i> ลบรายการจำนำ</button>
        </div>{%endif%}

    </div>
    <script>
        function popup(del) {
            let peld_id = "{{p.id }}"
            let cus_id = "{{p.cus_id.id }}"
            let chk = (del==='pled')?1:0
            let url = (del==='pled')?'/delete_pledging/' + peld_id:'/delete_gold/' + del
            let button = event.currentTarget
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ',
                    cancelButton: 'btn btn-danger mr-5'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'คุณต้องการลบรายการนี้หรือไม่?',
                text: "ถ้าคุณลบรายการนี้ จะไม่สามาถกู้คืนได้",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'ยืนยันการลบ',
                cancelButtonText: 'ไม่ต้องการลบ',
                reverseButtons: true
            }).then((result) => {

                if (result.value) {
                    
                    axios.delete(url)

                        .then(function (response) {
                            // handle success
                        })
                        .catch(function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                            
                            console.log(error);
                        })
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'การลบของคุณสำเร็จ',
                        'success'
                    ).then((result) => {
                        if (chk){
                        document.location.href = "{% url 'view_customer' cus_id=999999 %}".replace(/999999/, cus_id.toString());}
                        else{
                            let del = button.parentElement.parentElement
                            del.remove()
                        }
                    })

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'คุณได้ทำการยกเลิกการลบ',
                        'error'
                    )
                }
            })
        }
    </script>
</div>
</center>
{% endblock %}