{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <h3>ข้อมูลลูกค้า</h3>
    </center>
    <div class="card mt-5 border-warning ">

        <div class="card-body ">
            <center><div class='mb-3'>
                <h4>รายละเอียดลูกค้า</h4>
            </div></center>
                <div class="row">
                    <div class='col-6' style="text-align: right;">
                        <p >รหัสลูกค้า : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.id}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>ชื่อ : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.first_name}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>นามสกุล : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.last_name}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>รหัสประชาชน : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.citizen_id}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>อีเมล : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.email}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>วันเกิด : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.dob}}</p>
                    </div>
                </div>
                
        </div>
        <a href="{% url 'edit_customer' cus_id=cus.id %}" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_customer' cus_id=cus.id%}"class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
    </div>
</div>
{% endblock %}