{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <h3>ข้อมูลรายการจำนำทอง</h3>
    </center>
    <div class="card mt-5 border-warning ">

        <div class="card-body ">
                <div class="row">
                    <div class='col-2'>
                        <h5 >รหัสจำนำทอง</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.id}}</h5>
                    </div>
           
                    <div class='col-2'>
                        <h5>ชื่อ</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.cus_id.first_name}}</h5>
                    </div>
          
                    <div class='col-2'>
                        <h5>นามสกุล</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.cus_id.last_name}}</h5>
                    </div>
 
                    <div class='col-2'>
                        <h5>รหัสประชาชน</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.cus_id.citizen_id}}</h5>
                    </div>

                    <div class='col-2'>
                        <h5>อีเมล</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.cus_id.email}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>ยอดค้างชำระ</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.pledge_balanca}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>วันหมดสัญญา</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.expire_date}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>สถานะของสัญญา</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ p.type_pledging.label}}</h5>
                    </div>
                </div>
                
        </div>
        <a href="" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
    </div>
</div>
{% endblock %}