{% extends "base.html" %}
{% block content %}
{% load static %}
<center>
<div class="container">
    <center>
        <h3>ข้อมูลรายการจำนำทอง</h3>
    </center>
    <div class="card mt-5 border-warning " style="text-align: center;">

        <div class="card-body ">
            <div class='mb-3' style='text-align:center;position:relative'>
                <div style='position:absolute;top:0;left:0;'>รหัสจำนำทอง : {{ p.id}}</div>
                <h4>รายละเอียดรายการจำนำ</h4>
            </div>
            <div class="row">
                <div class='col-6'style="text-align: right;">
                    <p>ชื่อ - นามสกุล: </p>
                </div>
               
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.first_name}} {{ p.cus_id.last_name}}</p>
                </div>

                <div class='col-6'style="text-align: right;">
                    <p>รหัสประชาชน : </p>
                </div>
                
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.citizen_id}}</p>
                </div>

                <div class='col-6'style="text-align: right;">
                    <p>อีเมล : </p>
                </div>

                <div class='col-6' style="text-align: left;">
                    <p>{{ p.cus_id.email}}</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>ยอดจำนำ : </p>
                </div>
    
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.pledge_balance}} บาท</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>ระยะเวลาสัญญา : </p>
                </div>
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.pledge_date|date:"d / m / Y"}} - {{ p.expire_date|date:"d / m / Y"}}</p>
                </div>
                <div class='col-6'style="text-align: right;">
                    <p>สถานะของสัญญา : </p>
                </div>
                <div class='col-6' style="text-align: left;">
                    <p>{{ p.type_pledging.label}}</p>
                </div>
            </div>
            <hr>
            <div class='mb-3'>
                <h4>ข้อมูลทองที่นำมาจำนำ</h4>
            </div>



            {% for i in gold %}
            <div class="row">
                <div class='col-3' style="text-align: right;">
                    <p>ประเภท : </p>
                </div>
                <div class='col-3' style="text-align: left;">
                    <p>{{i.goldtype}} </p>
                </div>
                <div class='col-3' style="text-align: right;">
                    <p>น้ำหนัก : </p>
                </div>
                <div class='col-2' style="text-align: left;">
                    <p>{{i.weight}} กรัม</p>
                </div>
                <div class='col-1' style="text-align: right;">
                <a href="{% url 'delete_gold' gold_id=i.id pled_id=p.id%}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></div>
            </div>
            {% endfor %}

        </div>
            <div style='display:flex'>
            <a style='flex-basis:0;flex-grow:1;flex-shrink:1' href="{% url 'edit_pledging' pled_id=p.id %}" class="btn btn-warning" ><i class="fas fa-edit"></i> แก้ไขรายการจำนำ</a>
            <a style='flex-basis:0;flex-grow:1;flex-shrink:1' href="{% url 'delete_pledging' pled_id=p.id%}"class="btn btn-danger"><i class="far fa-trash-alt"></i> ลบรายการจำนำ</a>
        </div>

    </div>
</div>
</center>
{% endblock %}