{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <h3>ข้อมูลลูกค้า</h3>
    </center>
    <div class="card mt-5 border-warning ">

        <div class="card-body ">
            <div class='mb-3' style='text-align:center;position:relative'>
                <div style='position:absolute;top:0;left:0;'>รหัสลูกค้า : {{ cus.id }}</div>
                <h4>รายละเอียดลูกค้า</h4>
            </div>
                <div class="row">
                    <div class='col-6' style="text-align: right;">
                        <p>ชื่อ - นามสกุล: </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.first_name}} {{ cus.last_name}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>รหัสประชาชน : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.citizen_id}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>อีเมล : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.email}}</p>
                    </div>
                    <div class='col-6' style="text-align: right;">
                        <p>วันเกิด : </p>
                    </div>
                    <div class='col-6' style="text-align: left;">
                        <p>{{ cus.dob|date:"d / m / Y"}}</p>
                    </div>
                </div>
                <hr>
                <center>
                <div class='mb-3'>
                    <h4>รายการจำนำของลูกค้า</h4>
                </div>
            </center>
            <table class="table mt-5"style="text-align:center;" >
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Pledge date</th>
                      <th scope="col">Expire date</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
            {% for i in p%}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.cus_id.first_name}}</td>
                <td>{{i.cus_id.last_name}}</td>
                <td >{{i.pledge_date|date:"d / m / Y"}}</td>
                <td >{{i.expire_date|date:"d / m / Y"}}</td>
                
                <td><a href="{% url 'view_pledging' pled_id=i.id%}" class="btn btn-primary mr-2" ><i class="far fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
        <div style='display:flex'>
            <a style='flex-basis:0;flex-grow:1;flex-shrink:1' href="{% url 'add_pledging' customer_id=cus.id %}" class="btn btn-success" ><i class="fas fa-folder-plus"></i> เพิ่มรายการจำนำ </a>
            <a style='flex-basis:0;flex-grow:1;flex-shrink:1' href="{% url 'edit_customer' cus_id=cus.id %}" class="btn btn-warning" ><i class="fas fa-edit"></i> แก้ไขข้อมูลลูกค้า</a>
            <button style='flex-basis:0;flex-grow:1;flex-shrink:1' onclick="popup()" class="btn btn-danger"><i class="far fa-trash-alt"></i> ลบข้อมูลลูกค้า</button>
        </div>
    </div>
    <script>
        function popup() {
            let cus_id = "{{cus.id }}"
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ',
                    cancelButton: 'btn btn-danger mr-5'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'คุณต้องการลบรายการนี้หรือไม่?',
                text: "ถ้าคุณลบรายการนี้ จะไม่สามาถกู้คืนได้",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'ยืนยันการลบ',
                cancelButtonText: 'ไม่ต้องการลบ',
                reverseButtons: true
            }).then((result) => {

                if (result.value) {
                    axios.delete('/delete_customer/' + cus_id)

                        .then(function (response) {
                            // handle success
                        })
                        .catch(function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                            
                            console.log(error);
                        })
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'การลบของคุณสำเร็จ',
                        'success'
                    ).then((result) => {
                        document.location.href = "{% url 'customers' %}"
                    })

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'คุณได้ทำการยกเลิกการลบ',
                        'error'
                    )
                }
            })
        }
    </script>
</div>
{% endblock %}