{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <center>
        <h3>ข้อมูลลูกค้า</h3>
    </center>
    <div class="card mt-5 border-warning ">

        <div class="card-body ">
                <div class="row">
                    <div class='col-2'>
                        <h5 >รหัสลูกค้า</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.id}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>ชื่อ</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.first_name}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>นามสกุล</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.last_name}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>รหัสประชาชน</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.citizen_id}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>อีเมล</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.email}}</h5>
                    </div>
                    <div class='col-2'>
                        <h5>วันเกิด</h5>
                    </div>
                    <div class='col-1' style="text-align: left;">
                        <h5>: </h5>
                    </div>
                    <div class='col-8' style="text-align: left;">
                        <h5>{{ cus.dob}}</h5>
                    </div>
                </div>
                
        </div>
        <a href="" class="btn btn-warning" ><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_customer' cus_id=cus.id%}"class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
    </div>
</div>
{% endblock %}